apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: {{ .Release.Name }}-ui
  namespace: ui
  labels:
    app: ui
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: ui
  template:
    metadata:
      labels:
        app: ui
    spec:
      # initContainers:
      #   - name: init-container
      #     image: busybox:1.28
      #     command: ['sh', '-c', 'until nslookup load-balancer-ui; do echo waiting for load-balancer-ui; sleep 60; done;']
      containers:
      - name: ui
        image: {{ .Values.imageFrontend }}
        ports:
        - name: live-port
          containerPort: 3000
        livenessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 30
          periodSeconds: 10
      imagePullSecrets:
      - name: {{ .Release.Name }}-registrykey
